TMDB_TOKEN=token
TMDB_BASE_URL=https://api.themoviedb.org
TMDB_IMAGE_PATH=https://image.tmdb.org/t/p/w500/
API_URL=http://localhost:3000

# Variáveis de ambiente para o banco de dados Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=movies_db
POSTGRES_PORT=5432