TMDB_TOKEN=token
TMDB_BASE_URL=https://api.themoviedb.org

# Variáveis de ambiente para o banco de dados Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=movies_db
POSTGRES_PORT=5432

# Neo4j
NEO4J_USER=neo4j
NEO4J_PASSWORD=neo4j_password
NEO4J_DATABASE=neo4j