TMDB_TOKEN=token
TMDB_BASE_URL=https://api.themoviedb.org

# Variáveis de ambiente para o banco de dados Postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=movies_db
POSTGRES_PORT=5432

# Variáveis de ambiente para o Qdrant
QDRANT_HOST=qdrant
QDRANT_PORT=6333
